.dropDown-title h2,
.members-container h2{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-headings);
}

.dropDown-options li{
    font-size: 1.1rem;
    font-family: var(--font-headings);
}

.map-options li,
.user-container li{
    list-style-type: none;
    padding-left: .5rem;
    font-family: var(--font-headings);
}

.map-options{
    align-items: center;
}

.map-options img{
    width: 7%; 
    height: 7%;
    background-color: #f5f5f5;
    padding: .1rem;
    border-radius: 50%;
}
.user-container{
    align-items: center;
    margin-bottom: 1rem;
}
.user-container img{
    width: 15%;
    border-radius: 50%;
}