.sideChat{
    padding-right: 1rem;

}

.sideChat .sideChat-row{
    display: grid;
    grid-template-columns: 2fr 3fr 1.5fr;
    gap: 10px;
}

.sideChat-column,
.mainChat-column,
.options-column{
    border: 1px solid black;
    padding-top: 1.25rem !important;
    height: 100vh;
}

.form-control{
    border-radius: 20px;
}

.sideChat-container1 h1{
    font-family: var(--font-headings);
    font-weight: 700;
    font-size: 1.6rem;
}
