.sideChat{
    padding-right: 1rem;
}

.sideChat .sideChat-row{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.sideChat-column,
.mainChat-column,
.options-column{
    border-left: 3px solid #f5f5f5;
    padding-top: 1.25rem !important;
    height: 100vh;
}

.form-control{
    border-radius: 20px;
}

.sideChat-container1{
    display: flex;
    justify-content: space-between !important;
}

.sideChat-container1 h1{
    font-family: var(--font-headings);
    font-weight: 700;
    font-size: 1.6rem;
}

.sideChat-column{
    border-left: 0;
    padding-left: 0;
}

.searchInfo-main{
    padding-top: 1rem;
}

.searchInfo-container:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.searchInfo{
    align-items: center;
    padding: .75rem;
}

.searchInfo p{
    font-weight: 500;
    font-family: var(--font-headings);
}

.searchInfo img{
    width: 15%;
    border-radius: 50%;
    margin-right: .5rem;
}

@media screen and (max-width: 600px){
    .sideChat-container1 a{
        display: none;
    }

    .sideChat-container1{
        justify-content: center !important;
    }

    .sideChat-column{
        padding-left: 1.5rem;
        padding-right: 0;
    }
    
    .sideChat h1{
        font-size: 1.25rem;
    }

    .searchInfo p{
        font-size: .75rem;
    }
}

@media screen and (max-width: 425px){

    .sideChat-row{
        gap: 5px;
    }

    .sideChat-container1 h1{
        font-size: 1.4rem;
    }

    .sideChat-column{
        padding-left: 1.5rem;
        padding-right: 0;
    }

    .searchInfo{
        align-items: center;
        justify-content: center;
    }

    .searchInfo p{
        display: none;
    }

    .searchInfo img{
        width: 55%;
    }
}