.replyComponent h4{
    padding: 1rem;
    display: inline-block;
    border: 1px solid #0077ff;
    border-radius: 20px;
    font-size: .8rem;
    background-color: #0077ff;
    margin-left: .7rem;
    color: white;
}

.replyComponent-message{
    display: flex;
    align-items: center !important; 
    margin-left: 50%;
}

.deleteButton:hover, 
.emojiButton:hover{
    cursor: pointer;
}

.modal-content{
    text-align: center;
}

.modal-body p{
    padding-bottom: 1rem;
}

.replyComponent .Options-message{
    display: none;
}

.replyComponent:hover .Options-message{
    display: block;
}

@media screen and (max-width: 600px) {
    .replyComponent h4{
        font-size: .6rem;
    }
}