.replyComponent h4{
    padding: 1rem;
    display: inline-block;
    border: 1px solid #0077ff;
    border-radius: 20px;
    font-size: .8rem;
    background-color: #0077ff;
    margin-left: .7rem;
    color: white;
}

.replyComponent-message{
    display: flex;
    align-items: end !important; 
    margin-left: 50%;
}