.messageThree-container .messageThree-scroll,
.messageOne-container .messageOne-scroll,
.messageTwo-container .messageTwo-scroll{
    height: 80.5vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.sticky-send{
    margin-bottom: 1rem;
    margin-right: 1rem;
}