.mainChat-img img{
    width: 10%;
    border-radius: 50%;
}
.mainChat .mainChat-container-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.mainChat-img h2{
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--font-headings);
}

.mainChat-options span:hover{
    cursor: pointer;
}

.mainChat-options span{
    padding-right: 1rem;
}
