.img-chat{
    border-radius: 50%;
    width: 60%;
}

.chat-image-container{
    display: flex;
    justify-content: center;
    padding-left: 0;
}


.chatComponent-container:hover{
    background-color: #777676;
    cursor: pointer;
}

.chat-info-container h5{
    font-size: 1rem;
}

.chat-info-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat-info-container p{
    font-size: .8rem;
}

.img-contain{
    width: 25%;
}
